@model BeeMatchingAPP.Models.DoanhNghiep

@{
    ViewData["Title"] = "TrangThongTinDoanhNghiep";
    DoanhNghiep ntv = ViewData["HoSodn"] as DoanhNghiep;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thông Tin Doanh Nghiệp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/hoso.css">
    <style>
        .field-disabled {
            background-color: #f0f0f0;
            color: #666;
        }

        .field-edit {
            background-color: #fff7e6;
            color: #000;
        }
    </style>
</head>

<body>
    <main>
        <div class="wrapper">
            <div class="profile">
                <div class="content">
                    <h1>Thông tin doanh nghiệp</h1>
                    <form asp-action="CapNhatThongTin" method="post">
                        <!-- Photo -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="avatar">Ảnh hồ sơ</label>
                            </div>
                            <div class="grid-65">
                                <span class="photo" title="Upload your Avatar!"></span>
                                <input type="file" class="btn" />
                            </div>
                        </fieldset>

                        <!-- Tên công ty -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="fname">Tên công ty</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.TenCongTy ?? " Không có thông tin"" id="fname" tabindex="1" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <!-- Mô tả -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="description">Mô tả</label>
                            </div>
                            <div class="grid-65">
                                <textarea id="description" cols="30" rows="3" tabindex="3" class="field-disabled" disabled>@ntv?.MoTa ?? "Không có mô tả"</textarea>
                            </div>
                        </fieldset>

                        <!-- Email -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="email">Email</label>
                            </div>
                            <div class="grid-65">
                                <input type="email" value="@ntv?.email ?? " Không có email"" id="email" tabindex="6" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <!-- Ngày tạo -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="creation-date">Ngày tạo</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.TrangThai ?? " Không có thông tin"" id="creation-date" tabindex="2" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <!-- Địa chỉ -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="location">Địa chỉ</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.DiaChi ?? " Không có địa chỉ"" id="location" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <!-- Vị trí địa lý -->
                        <fieldset>
                            <div class="grid-35">
                                <label for="ward">Xã</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.WardId ?? " Không có thông tin"" id="ward" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="grid-35">
                                <label for="district">Huyện</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.DistrictId ?? " Không có thông tin"" id="district" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="grid-35">
                                <label for="province">Tỉnh</label>
                            </div>
                            <div class="grid-65">
                                <input type="text" value="@ntv?.ProvinceId ?? " Không có thông tin"" id="province" tabindex="4" class="field-disabled" disabled />
                            </div>
                        </fieldset>

                        <!-- Buttons -->
                        <fieldset>
                            <input type="button" class="Btn edit" value="Sửa" onclick="editProfile()" />
                            <input type="submit" class="Btn" value="Lưu" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <script>
            function editProfile() {
                const inputs = document.querySelectorAll('input[type="text"], input[type="email"], textarea');
                inputs.forEach(input => {
                    input.disabled = false;
                    input.classList.remove('field-disabled');
                    input.classList.add('field-edit');
                });
            }
        </script>
    </main>

    <!-- JS here -->
    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
